html {
    box-sizing: border-box;
    font-family: Lato;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  section {
    width: 100vw;
    height: 100vh;
    margin-bottom: 12px;
  }
  
  div {
    color: #fff;
    background: #0;
    padding: 12px;
    margin-right: 4px;
    display: inline-block;
  }
  
  /* center items */
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  